@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Calculator</h1>
<form action="https://localhost:44392/api/Calculate/Add" method="get">
    <label for="Title">Addition:</label><br />
    @*set the max length is step="0.0001"*@
    <label for="valueA">first number:</label><input id="valueA" type="number" step="0.0001" name="valueA" />
    <label for="valueB">second number:</label><input id="valueB" type="number" step="0.0001" name="valueB" />
    <input type="submit" value="submit" />
</form><br />

<form action="https://localhost:44392/api/Calculate/Subtract" method="get">
    <label for="Title">Subtraction:</label><br />
    @*set the max length is step="0.0001"*@
    <label for="valueA">first number:</label><input id="valueA" type="number" step="0.0001" name="valueA" />
    <label for="valueB">second number:</label><input id="valueB" type="number" step="0.0001" name="valueB" />
    <input type="submit" value="submit" />
</form><br />

<form action="https://localhost:44392/api/Calculate/Multiple" method="get">
    <label for="Title">Multiplication:</label><br />
    @*set the max length is step="0.0001"*@
    <label for="valueA">first number:</label><input id="valueA" type="number" step="0.0001" name="valueA" />
    <label for="valueB">second number:</label><input id="valueB" type="number" step="0.0001" name="valueB" />
    <input type="submit" value="submit" />
</form><br />

<form action="https://localhost:44392/api/Calculate/Divide" method="get">
    <label for="Title">Division:</label><br />
    @*set the max length is step="0.0001"*@
    <label for="valueA">first number:</label><input id="valueA" type="number" step="0.0001" name="valueA" />
    <label for="valueB">second number:</label><input id="valueB" type="number" step="0.0001" name="valueB" />
    <input type="submit" value="submit" />
</form><br />

@*js to set 00.. to 0, not allowed -0*@